
p{
    color:black;
}
nav {
    display:  flex;
    background-color: rgb(235, 243, 243);
    justify-content: space-between;
}
ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-right: 20px;
    text-decoration-color: black;

}
a{
    text-decoration: none;
}

main{
    margin: 30px 150px 40px;
    padding: 30px;
    background-color: rgb(233, 227, 227);
}
h1{
text-align: center;}

article{
    margin-top: 10px;
    border-bottom: 3px solid black;
}
footer{
    background-color: black;
    padding: 10px;
}
h4{
    color:white;
    text-align: center;
}
body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}